<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrwmQgBKua_6eYdwULR7BVtz0CE_7uCwY</string>
	<key>GCM_SENDER_ID</key>
	<string>833272180782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phaeton-order.spurly</string>
	<key>PROJECT_ID</key>
	<string>spurly-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>spurly-firebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833272180782:ios:ebe92286d0b082b0f12fbf</string>
</dict>
</plist>